<button id="scrollToTopButton" class="floating-button">
    <span>&#8593;</span> <!--arrow unicode-->
</button>

<script>
    window.addEventListener("DOMContentLoaded", function () {
            scrollToUp("scrollToTopButton", 100);
        });
</script>